[2020-03-03 23:38] WeileiZeng opened #1 "Open Source Helps!"
Open Source Helps!
Thanks for your work to help the people in need! Your site has been added! I currently maintain the OpenSourceWuhan page, which collects all open source projects related to COVID-19, including maps, data, news, api, analysis, medical and supply information, etc. Please share to anyone who might need the information in the list, or will possibly contribute to some of those projec

[2020-03-04 19:25] WeileiZeng opened #2 "updates at alibaba about AI"
https://asia.nikkei.com/Spotlight/Coronavirus/Alibaba-says-AI-can-identify-coronavirus-infections-with-96-accuracy

[2020-03-05 14:17] MSC19950601 opened #3 "No source image?"
Any dicom file?

[2020-03-05 16:04] ieee8023 commented on #3
Not yet. These are all just pulled from research papers.

[2020-03-05 16:04] #3 closed

[2020-03-06 00:36] ieee8023 commented on #1
Thanks!

[2020-03-06 00:36] #1 closed

[2020-03-06 00:37] ieee8023 commented on #2
Thanks!

[2020-03-06 00:37] #2 closed

[2020-03-11 21:15] yeldarby opened #4 "Missing License"
Thank you so much for curating this dataset! Hopefully we can all work together to scale up detection of coronaviruses via radiography.

Could you please add a `LICENSE` file for the images and annotations in this repository? We'd like to be able to use and remix them but need clarification of the terms under which they're allowed to be used and shared.

[2020-03-13 08:16] Goodsea opened #5 "Does X-Ray really usefull for diagnosing COVID-19?"
"March 4, 2020 -- X-ray may not be the best imaging tool for detecting novel coronavirus disease (COVID-19). Almost three-quarters of a small cohort of South Korean patients with COVID-19 pneumonia had normal chest x-rays, missing pulmonary nodules that chest CT identified, according to a February 26 study in the Korean Journal of Radiology."

https://www.auntminnie.com/index.aspx?sec=sup&sub=xra&

[2020-03-13 18:51] ieee8023 commented on #5
This work supports it:
https://pubs.rsna.org/doi/10.1148/radiol.2020200432 and https://pubs.rsna.org/doi/10.1148/radiol.2020200642

And this recommends not using it: https://www.acr.org/Advocacy-and-Economics/ACR-Position-Statements/Recommendations-for-Chest-Radiography-and-CT-for-Suspected-COVID19-Infection

But I believe it could help. Imagine if we run out of tests and then the majority of radi

[2020-03-13 18:55] ieee8023 commented on #4
So an overall license may be difficult because each image can have its own copyright. Many are CC-SA. I will add a column to the metadata.csv file. At some point there can be a script to extract to generate a version of the dataset which only includes images with a specific open license like CC-SA.

[2020-03-13 18:55] #4 closed

[2020-03-13 20:06] Goodsea commented on #5
I think science generally trying to improve itself by time. We can not say last research %100 true and first research %100 false absolutely, it depends. But I observe that some of the recent researchs about this topic showing that the chest-xrays doesn't help in high accuracy to diagnose this disease.

| Research | Publication Date | Help to Diagnose COVID-19 with Chest X-Ray |
|---|---|---|
| htt

[2020-03-14 17:06] fcakyon opened #6 "Annotations"
Hello,

First of all thanks a lot for the effort you are putting to gather all these xray and ct measurements!

I am wondering if bounding box/masks for the detection of problematic regions can be provided or is this only available as an image classification dataset? If second, are there going to be also negative samples (xray images from covid-negative patients)?

Bests

[2020-03-14 17:21] ieee8023 commented on #6
Bounding box/masks would be great to have. It should be easy to annotate the existing images. I would opt for a binary mask specifying the regions which are predictive. I'll add it to the list of things people can contribute.

I've also been adding bacterial (Streptococcus) and other viral pneumonia cases (MERS).

For building models we have been using the other pneumonia datasets with pneumonia l

[2020-03-14 17:21] #6 closed

[2020-03-15 00:28] ieee8023 opened #7 "https://www.thelancet.com/journals/laninf/article/PIIS1473-3099(20)30111-0/fulltext"

[2020-03-15 00:41] ieee8023 opened #8 "https://www.kjronline.org/DOIx.php?id=10.3348/kjr.2020.0112"

[2020-03-15 00:45] ieee8023 opened #9 "https://academic.oup.com/cid/advance-article/doi/10.1093/cid/ciaa199/5766408"

[2020-03-15 00:46] ieee8023 opened #10 "https://www.sciencedirect.com/science/article/pii/S1684118220300608"

[2020-03-15 00:55] ieee8023 opened #11 "https://onlinelibrary.wiley.com/doi/full/10.1111/all.14238"

[2020-03-15 14:21] SandeepAswathnarayana commented on #5
@ieee8023 and @Goodsea, I had the same question in mind, but with relevance to Chest CT Scans. After having read a few relevant research papers over the weeks, I just couldn't wrap my head around and come to a conclusion. I've always wanted to reach out to seasoned radiologists, meet with them in person and discuss some noteworthy insights. Attaining 'domain' knowledge has been a real challenge fo

[2020-03-15 18:05] #11 closed

[2020-03-15 18:17] #10 closed

[2020-03-15 18:26] #9 closed

[2020-03-15 18:41] #8 closed

[2020-03-15 19:15] ieee8023 opened #13 "https://www.kjronline.org/DOIx.php?id=10.3348/kjr.2020.0132"

[2020-03-15 19:16] ieee8023 opened #14 "https://www.nejm.org/doi/full/10.1056/NEJMc2001573"

[2020-03-15 20:06] rcillavicomtech opened #15 "Minimal jupyter notebook to train models"
Hi,
I'm a deep learning researcher from Spain.
I have created a minimal jupyter notebook to train with the images from your repo.

https://drive.google.com/file/d/19T_qebLa1keUNpkp7FDNEBmsNRQUVtfJ/view?usp=sharing

 I want to experiment with visual attention models on next days.
Rodrigo

[2020-03-15 20:30] ieee8023 commented on #15
Can you make that link public? Or maybe just upload the notebook to this issue page?

[2020-03-15 20:55] rcillavicomtech commented on #15
Now the link should work. I attach the notebook too.

[COVID_19.ipynb.txt](https://github.com/ieee8023/covid-chestxray-dataset/files/4335046/COVID_19.ipynb.txt)

[2020-03-15 21:19] ieee8023 commented on #15
Cool! Looks good! I had just released the torchxrayvision code! I have been doing something similar but I wasn't able to get good prediction performance. Can you include an AUC calculation on the resulting model? Also, I would expect monitoring test performance here as you do would cause you to overfit. Maybe leave out a few cases that you only test the final model on.

[2020-03-15 21:23] rcillavicomtech commented on #15
Yes, good ideas to keep improving it. I'll do it when I have spare time during the week.
Perhaps something like a VAE-GAN data augmentation approach could be useful to.

[2020-03-15 21:52] rcillavicomtech commented on #5
I've been wondering about this too. As a research engineer I think that our mission right now is to create the best possible models to help in the diagnosis and prognosis of COVID-19 patients. Then physicians would be the ones that decide which are the right tools to employ.

Evidence shows that RT-PCA is the best tool right know for COVID-19 diagnosis and I don't think imaging is going to replace

[2020-03-16 16:54] caginpolat opened #17 "wrong image file name"
This file below does not exist in metadata.csv

1-s2.0-S0929664620300449-gr3_lrg-e.jpg

[2020-03-16 22:15] bganglia commented on #14
@ieee8023 this publication has already been added. (Patient 4). However, the age is missing, so I will make a PR to add that.

[2020-03-16 22:59] #13 closed

[2020-03-16 23:28] #14 closed

[2020-03-17 14:31] jrosebr1 opened #20 "Thank you for what you're doing"
Hi there, @ieee8023. I just wanted to take a second and thank you for what you're doing.

I run a popular computer vision/deep learning blog (PyImageSearch.com) and published a tutorial for CV/DL practitioners on how to use this dataset (your work and dataset curation is properly cited):

https://www.pyimagesearch.com/2020/03/16/detecting-covid-19-in-x-ray-images-with-keras-tensorflow-and-deep-lea

[2020-03-17 15:53] AleGiovanardi opened #21 "Sharing my data"
Hi I am doing some research on this topic applying CNN with deep learning to create an automated comupter vision based scanner to detect covid posivites and negatives scans.

Here you can find my dataset, I am currently building a CT scans dataset to try and train a model for ct scan other than rx scans. https://github.com/AleGiovanardi/covidhelper/tree/master/dataset/covidct

I also have a source

[2020-03-17 15:59] ieee8023 commented on #21
I believe you are using the same images from this repo? It would help me if you could identify the ones that are not present in this dataset and have the source that they came from so I can correctly add the metadata.

The normal cases you are using are pediatric xrays so it your model just has to predict age and not the presence of the infection.

[2020-03-17 15:59] #21 closed

[2020-03-17 16:04] ieee8023 commented on #20
I am not trying to educate people. I am trying to build a dataset to build tools that are useful.

I find the main issue with your work is the evaluation. You simply cannot claim the model has such high performance. You are only using train and valid sets and no external test set. You should also perform some sort of cross-validation to assess how well the model generalizes.

[2020-03-17 16:04] #20 closed

[2020-03-17 16:08] ieee8023 commented on #17
Fixed

[2020-03-17 16:08] #17 closed

[2020-03-17 17:25] caginpolat opened #22 "Offset field"
What is the meaning of the offset field?

[2020-03-17 17:50] ieee8023 commented on #22
Time when symptoms started

[2020-03-17 18:27] #7 closed

[2020-03-17 18:38] jrosebr1 commented on #20
Fair criticism and honest criticism, I appreciate it. As I stated in the work it was never intended to be a true scientific piece with a proper evaluation. My intention was simply to share it with you, that's all.

I wish you all the best with the project, good luck with it.

[2020-03-17 19:20] bganglia opened #23 "https://www.nature.com/articles/s41591-020-0819-2?sf231541958=1"

[2020-03-17 22:00] bganglia commented on #22
@caginpolat @ieee8023 In the entries I was looking at, it looked like the offset was the number of days after hospitalization the radiograph was taken.

I think it would be a good idea to add a "data dictionary" for the metadata. I have one on my branch right now and can make a PR.

[2020-03-17 22:04] ieee8023 commented on #22
@bganglia this sounds like a good idea. At first the field was just some way of establishing a temporal order so it was the first day in the hospital or the first day they reported symptoms. I was thinking the difference between the times was more important than the exact start time.

[2020-03-17 22:14] bganglia commented on #22
@ieee8023 I am making the PR right now. I would appreciate it if you could take a look and let me know if you think there are any other fields that need explanation. I was not sure about the "date" field myself

[2020-03-17 22:54] ieee8023 commented on #22
Ok I merged it and added/changed some text. I'm happy to change my mind on any assumptions there if you feel differently.

Thanks for your help!

[2020-03-17 23:36] bganglia opened #25 "Separate imaging modality and view"
It would be easier to select just X-rays or CT scans if there was a column for the modality and a different column for the view. I have made these changes on my fork and can make a PR if you think this is useful. Right now I am just checking that all of my changes are correct.

[2020-03-17 23:37] ieee8023 commented on #25
Yes that sounds great!

[2020-03-18 00:16] bganglia opened #26 "Do we have a way of dealing with red markings?"

[2020-03-18 00:38] bganglia commented on #26
If images from real patients are being compared to these images, the small figure labels (e.g. "A", "B") could also lead to data leakage.

[2020-03-18 00:51] oplatek opened #28 "Recommended datasets for transfer learning"
Hi @ieee8023

thank you for maintaining this dataset!

I implemented a [pytorch lightning wrapper for a DenseNet model](https://github.com/oplatek/lightning-Covid19/tree/feature/baseline-model) for covid-chestxray-dataset.

It is kick of a [Pytorch Lightning's](https://github.com/PyTorchLightning/pytorch-lightning) community [project](https://github.com/PyTorchLightning/lightning-Covid19) which ai

[2020-03-18 01:18] ieee8023 commented on #26
True. This is a challenge to overcome. However, the models trained with a lot of data don't suffer from this issue though. Look at this example processed using a model trained on the 100k NIH examples:
<img width="949" alt="Screen Shot 2020-03-17 at 9 12 34 PM" src="https://user-images.githubusercontent.com/446367/76915539-0e255e80-6894-11ea-917b-2f3d261814a5.png">

The gradient of the prediction

[2020-03-18 01:18] #25 closed

[2020-03-18 01:46] ieee8023 commented on #23
commit a0ab864

[2020-03-18 01:46] #23 closed

[2020-03-18 15:19] bganglia opened #29 "https://journals.lww.com/investigativeradiology/Abstract/publishahead/Chest_CT_Findings_in_Patients_with_Corona_Virus.98835.aspx"
The pictures are inside the PDF, but can be extracted. I can work on this

[2020-03-18 15:21] bganglia opened #30 "https://link.springer.com/article/10.1007%2Fs12630-020-01625-4"

[2020-03-18 15:25] ieee8023 commented on #29
Thanks I have found that pdfimages works really well and the -png option will export pngs which will have lossless compression.

[2020-03-18 15:28] ieee8023 commented on #30
I've been focusing more on just the papers with chest X-rays. For CT slices I think it is best to wait until someone will contribute full CT volumes otherwise building tools for CT might not be as possible.

[2020-03-18 15:30] bganglia commented on #30
OK, makes sense. I will just look for chest X-rays

[2020-03-18 15:38] bganglia opened #31 "Automate finding radiographs in academic papers"
I have a project to automatically search for, download, and extract radiographs from papers on a given disease.

Right now everything works except filtering the radiographs from the other figures, which I am still working on. Even without this feature, though, the tool could help you to manually screen paper figures quickly.

Do you think this tool would be useful for this project?

[2020-03-18 15:45] ieee8023 commented on #31
Sounds cool. Has it been working for you to find candidate papers?

[2020-03-18 15:51] bganglia commented on #31
@ieee8023 So far I have been submitting articles I found in the WHO database of COVID-19 articles (by the way, I would like to make a PR adding that link - https://www.who.int/emergencies/diseases/novel-coronavirus-2019/global-research-on-novel-coronavirus-2019-ncov).

I will be experimenting with the tool some more today.

[2020-03-18 18:11] Sultan91 opened #33 "Image labeling"
Thank you for work,
Is there labeling of images exists saying which image is of survived or not survived patient?

[2020-03-18 18:17] ieee8023 commented on #33
Look in the metadata file.

[2020-03-18 19:07] Sultan91 commented on #33
Yes but metadata contains 146 entries and there are 150  images

[2020-03-18 21:44] jovenwayfarer commented on #15
Thanks for sharing,
In dataset class we have 9 labels, what they stand for?
And in your code we have 2 classes, could you explain it?
Thanks!!!

[2020-03-18 22:18] ieee8023 commented on #33
So these 4 are not labelled:

I'll need to figure out what there labels should be.

[2020-03-18 23:09] rcillavicomtech commented on #15
@jovenwayfarer Labels are binary. My code is to predict COVID19 status stored at column 2. Tomorrow I'll improve it with some ideas....

[2020-03-19 11:51] RazaGR commented on #15
@rcillavicomtech I tested your code 4 days ago, but due to CUDA usage in the snippet I had to run on colab, because I don't have access to any Nvidia GPU, so it took quiet some time to train the model... I am also trying to find more datasets, I look forward of your improved code

[2020-03-19 12:38] tianmaliuixing opened #35 "where are the computed tomography (CT) images?"
I can't find the CT images.

[2020-03-19 19:15] ieee8023 commented on #35
There are some slices there but not many. I am still waiting for people to make CTs public.

[2020-03-19 19:15] #35 closed

[2020-03-19 19:16] #30 closed

[2020-03-19 19:54] jovenwayfarer commented on #15
`model=xrv.models.DenseNet(num_classes=2).cuda()`
is it densenet121? it is pretrained? if yes, on what?
Thnaks again for the notebook

[2020-03-19 19:57] bganglia commented on #29
@ieee8023 These are actually all CTs, sorry.

[2020-03-20 02:10] tianmaliuixing commented on #35
Thank you for your reply. But I can't find any CT in images folder. Could you point it out clearly？
Thanks,

[2020-03-20 02:45] bganglia commented on #35
@tianmaliuixing if you really need CT images, you can select the rows in metadata.csv where modality = CT and then use the filename column. There are not as many, though.

[2020-03-20 03:17] jovenwayfarer commented on #15
@ieee8023 Hi, could you help?
If I load a model like below
`model=xrv.models.DenseNet(num_classes=2).cuda()`
is it densenet121? it is pretrained? if yes, on what?

[2020-03-20 04:28] ieee8023 commented on #15
You can view the code here: https://github.com/mlmed/torchxrayvision/

If you specify weights you will get pretrained DenseNet 121 models based on the models trained for this paper: https://arxiv.org/abs/2002.02497

[2020-03-20 05:15] caringresearch opened #36 "Minor patientID issue - PatientID 62 is used twice"
Thought we would post this minor issue that we found where in the metadata, patientID 62 is mentioned twice, but the gender and age (and source of data) are different.

This is amazing work! Keep it up!
![image](https://user-images.githubusercontent.com/48349718/77138370-de46a880-6a97-11ea-81d3-295775a91e8e.png)

[2020-03-20 10:04] AleGiovanardi commented on #35
You can check my repo for a CT scans public dataset.
https://github.com/AleGiovanardi/covidhelper and you are welcome to contribute also!

[2020-03-20 10:07] AleGiovanardi commented on #21
I added more than 250 cases to normal dataset and more to Covid positives. Also I built a CT scans dataset which counts a lot of positives confirmed cases.
I trained some models on CT instead of RX and I can affirm the pathway is much more reliable. I also debugged my model with grad-CAM and found that the model is looking quite fine at the right regions in the image while learning.
Again you can

[2020-03-20 10:25] RazaGR commented on #21
@AleGiovanardi have you seen ieee8023 comment tp Adrian Rosebrock here https://github.com/ieee8023/covid-chestxray-dataset/issues/20#issuecomment-600154029

Have you comply with above?

[2020-03-20 10:51] AleGiovanardi commented on #21
I test the models against unknown images. Images used for testing ARE NOT used for training the model.

[2020-03-20 12:24] MicPie commented on #35
This is great, do you know any other public sources for CT scans of COVID-19 cases?

[2020-03-20 12:50] mansilla opened #37 "COVID-19 classification DCNN training code with "explainability" functionality"
In this example, we use **ONLY** the XRs samples in the dataset labeled as COVID-19. We went the XRs way instead of the CTs since there are more of them. But I agree CTs are better for detection as mentioned here #5 .

The Neural Network source code is based in a post by [Adrian Rosebrock](https://github.com/jrosebr1) in [PyImageSearch](https://www.pyimagesearch.com/2020/03/16/detecting-covid-19-i

[2020-03-20 14:28] Scitator opened #38 "Classification example"
Hi,

I have prepared an example of Xray classification , based on this repo
https://colab.research.google.com/drive/1KlKvHDgvi-cfrpJUIOCvczmL4Ctc1wBL

Please check it out. Are you interested in such initiatives?

[2020-03-20 16:08] amgsharma opened #39 "ids in metadata.csv do not correspond to filenames ?"
How does one link the metadata file to the image files? Also there seem to be less metadata than there are images?

[2020-03-20 17:03] bganglia commented on #39
@amgsharma Use the filename column. You can join the path to the images directory with the filename from each row to obtain the path to each image.

[2020-03-20 17:12] ieee8023 commented on #39
You can use the dataloader here: https://github.com/mlmed/torchxrayvision just put the paths to the images and csv file.

[2020-03-20 17:23] #36 closed

[2020-03-20 17:47] bganglia commented on #33
@ieee8023 ``nCoV-Snohomish-20382862_web1_M1-Lungs-EDH-200201-640x300@2x.jpg`` is a duplicate of ``nejmoa2001191_f1-PA.jpeg``, but I am still looking into the other images.

[2020-03-20 21:12] fmobrj commented on #37
Well, I dont know if that is the reason wht the classification is so good. I say that because I cerated a 3rd category, dividing the Kaggle Dataset between "normal" and "other pneumonia" and the model still can almost perfectly divide the 3 classes: "normal", "covid" and "other viral or bacterial pneumonia". So we still have to see if the high accuracy is caused by the image origin or any other bi

[2020-03-20 21:12] fmobrj commented on #37
Well, I dont know if that is the reason wht the classification is so good. I say that because I cerated a 3rd category, dividing the Kaggle Dataset between "normal" and "other pneumonia" and the model still can almost perfectly divide the 3 classes: "normal", "covid" and "other viral or bacterial pneumonia". So we still have to see if the high accuracy is caused by the image origin or any other bi

[2020-03-21 10:40] ajaymaity commented on #37
There's a huge difference in the way Kaggle datasets are being captured compared to the X-ray images in this repo. For example, the Kaggle images almost always has dark edges on the left and right side of the image, which the images in this repo doesn't. I performed a simple comparison to add the pixels on the edges of the two dataset sources after binarizing (cropped the images 10 pixels on the l

[2020-03-21 12:24] mansilla commented on #37
@fmobrj it was a supposition I made based on the visualizations I got with Lime. Also, is really weird the performance is so high with so little amount of images.

@ajaymaity yes, that's what I meant. Although I'm not sure if it is this black border you mention or anything else. And there's no way to know it with a kernel density distribution of the images that's for sure. We make these kinds of s

[2020-03-21 13:07] ieee8023 commented on #37
Those kaggle pneumonia images that people keep using are of children. The model can learn age to tell them apart. Maybe the explanation of the image is showing how big the chest is as a predictor.

I would suggest using this data of mostly adults with pneumonia: https://academictorrents.com/details/95588a735c9ae4d123f3ca408e56570409bcf2a9

[2020-03-21 19:45] ciorozco opened #42 "patients without Y or N checks"
hello, in the survival column of the metadata.csv file do you have patients without Y or N checks, how do we take these samples for training and validation?

thank you

[2020-03-21 19:52] ieee8023 commented on #42
It is just missing data. The sources may have been updated since the inages were added. If you find the outcome of patients let me know and I will update the file.

Missing data is just a research challenge on how to deal with it. Look into few shot learning, semi-supervised learning, and meta-learning. They all address this problem in some way.

[2020-03-21 19:55] #22 closed

[2020-03-21 19:58] #29 closed

[2020-03-21 22:02] fmobrj commented on #37
Indeed. Using the RSNA images, the accuracy drops to ~ 80% to me. Now, will try some self supervised learning using all images from both datasets (RSNA and yours) for opretraining on a pretext task and see if the performance improves.

Thanks, Joseph.

[2020-03-22 01:14] bganglia opened #43 "Double-check metadata for accuracy/completeness"
I will be starting to revisit the papers and double-check the metadata for accuracy and completeness. I will keep track of my progress using this issue.

[2020-03-22 01:16] ieee8023 commented on #43
Awesome thanks!

[2020-03-22 09:13] Abubakar26 opened #45 "What is the offset ?"
Can anybody explain what is the purpose of offset values I am having issues to understand what it is

[2020-03-22 10:58] bganglia commented on #45
@Abubakar26 You can find metadata explanations [here](https://github.com/ieee8023/covid-chestxray-dataset/blob/master/CONTRIBUTING.md). The offset is the number of days after hospitalization/start of symptoms for each image.

[2020-03-22 12:14] bganglia commented on #37
@ieee8023 I wrote some code to implement @mansilla's lung selection idea. I could contribute it to torchxrayvision if you think there could be a place for preprocessing routines.

[code]
This code also lives at https://github.com/bganglia/chest_xray_preprocessing/blob/master/lungs_from_chest.py

[2020-03-22 14:33] oplatek commented on #38
Hi,
we prepared DenseNet model using Pytorch Lightning

See https://github.com/ieee8023/covid-chestxray-dataset/issues/38

[2020-03-23 06:59] pA1nD commented on #37
Has anyone tryed with Stanfords Chexpert? E. G. For pretraining? https://stanfordmlgroup.github.io/competitions/chexpert/

[2020-03-23 11:19] Abubakar26 commented on #45
@bganglia  Thanks brother

[2020-03-23 11:19] #45 closed

[2020-03-23 12:53] Scitator commented on #38
@oplatek Several suggestions (just my thoughts during example preparation)

1. Metadata have a bunch of useful information; not only covid-19, but other disease labels also - you need to use them for better machine learning model
1. Due to class disbalance, `accuracy` is not significant metric - use `AUC` or `F1 score` instead
1. Due to low amount of data (only around 100 images) data augmentation

[2020-03-23 14:19] fmobrj commented on #37
Takin a look at it now.

[2020-03-23 14:49] coyotespike commented on #31
@bganglia Can you share the tool?

As @ieee8023 a discovery tool would also be helpful.

[2020-03-23 16:05] mansilla commented on #37
@bganglia thank you for this! Let's make it work on the dataset @ieee8023 suggested, the RSNA Kaggle dataset:
https://academictorrents.com/details/95588a735c9ae4d123f3ca408e56570409bcf2a9

[2020-03-23 17:17] dzlab opened #46 "Provide detailed explanation of the columns in metadata.csv"
Can you provide detailed explanation of the columns in `metadata.csv` file?
Example: what does the `offset`  represent?? similarly for the rest of the columns.

[2020-03-23 17:25] ieee8023 commented on #46
Look in CONTRIBUTING.md

[2020-03-23 17:25] #46 closed

[2020-03-23 21:10] oplatek commented on #38
@Scitator thanks for your points!
Replacing accuracy is so obvious and it should be there even for the baseline model.

[2020-03-24 05:08] maxwelljohn commented on #5
This paper got an accuracy rate of 95% using deep learning on CT scans:

https://www.medrxiv.org/content/medrxiv/early/2020/02/26/2020.02.25.20021568.full.pdf

This paper, which also used deep learning on CT scans, had an accuracy of only 87%.  However, it looks like they are specifically focused on early-stage screening.  In the abstract, they claim that RT-PCR doesn't work very well in the early

[2020-03-24 06:17] cgh2797 opened #47 "This data only disease group???"
hmm... i can't see control group data

[2020-03-24 06:19] Chuvi-w opened #48 "Why used jpeg instead of DICOM?"
Normally digital x-ray image has DICOM format.
And it has more bit depth, then jpeg.

[2020-03-24 12:05] ieee8023 commented on #47
How do you suggest we add one?

This dataset has many non-COVID pneumonias https://academictorrents.com/details/95588a735c9ae4d123f3ca408e56570409bcf2a9

[2020-03-24 12:16] ieee8023 commented on #48
1. The files are not available to us as DICOMs (we are scraping publications because no one will share data)

2. The DICOM format is not as easy to load in Python using the standard image loading tools so a lossless format like PNG would be better.

3. What is the increase in bit depth with DICOM?

[2020-03-24 15:37] Chuvi-w commented on #48
As far as I can understand, Dicom data contains Hounsfield scale or can be converted into it.
https://gist.github.com/somada141/df9af37e567ba566902e

https://en.wikipedia.org/wiki/Hounsfield_scale

[2020-03-24 18:23] dzlab commented on #15
@rcillavicomtech not sure to understand your training, what does `PA` and `lab` stands for?
[code]

[2020-03-25 03:02] kwcooper opened #50 "Italy COVID-19 chest xray's"
https://www.sirm.org/category/senza-categoria/covid-19/

There are a few images being posted here, may be worth investigating

[2020-03-25 19:32] JiayuanDing100 opened #51 "Missing label (Labels 0=No or 1=Yes) for each sample of meta data"
Hi really appreciate your work.
When i looking at the metadata( https://github.com/ieee8023/covid-chestxray-dataset/blob/master/metadata.csv), I can't find label for each sample. How can i find the label? Do i miss something?

[2020-03-25 19:56] bganglia commented on #51
@JiayuanDing100 It depends on what kind of label you are looking for. You may want the "finding" column or "survival" column. You can read more about the metadata [here](https://github.com/ieee8023/covid-chestxray-dataset/blob/master/CONTRIBUTING.md)

[2020-03-25 20:13] JiayuanDing100 commented on #37
@mansilla Hi where do you find label labeled as COVID-19 or not? I didn't find it in metadata and image data

[2020-03-25 20:20] JiayuanDing100 commented on #42
In metadata, the survival label means whether he/she survives. Do we have label whether the patient is confirmed with covid19 or not?

[2020-03-25 20:26] JiayuanDing100 commented on #51
@bganglia Really appreciate your info.
Is there a label for each image whether it is confirmed with covid19 or not?

[2020-03-25 20:28] bganglia commented on #42
@JiayuanDing100 The patient has COVID-19 if the string "COVID-19" is in the "finding" column.

[2020-03-25 20:30] bganglia commented on #51
@JiayuanDing100 Check whether the "finding" column equals "COVID-19". I answered your question in #42 as well

[2020-03-25 20:35] JiayuanDing100 commented on #51
@bganglia Got u! thanks a lot!

[2020-03-25 21:15] bganglia commented on #51
@JiayuanDing100 The dataloader here may also be useful for you https://github.com/mlmed/torchxrayvision

[2020-03-25 22:18] mansilla commented on #37
@JiayuanDing100 hey. I used the metadata

[2020-03-26 00:27] bganglia opened #52 "https://radiopaedia.org/play/25975/entry/462501/case/75189/presentation?lang=us"
Images on slides 2 and 3

[2020-03-26 00:48] bganglia opened #53 "https://radiopaedia.org/cases/covid-19-pneumonia-rapidly-progressive?lang=us"

[2020-03-26 01:00] bganglia opened #54 "https://radiopaedia.org/cases/covid-19-rapidly-progressive-acute-respiratory-distress-syndrome-ards?lang=us"

[2020-03-26 01:02] bganglia opened #55 "https://assets.radiopaedia.org/cases/covid-19-infection-exclusive-gastrointestinal-symptoms?lang=us"

[2020-03-26 01:05] bganglia opened #56 "https://radiopaedia.org/cases/covid-19-pneumonia-28?lang=us"

[2020-03-26 01:06] bganglia opened #57 "https://radiopaedia.org/cases/covid-19-pneumonia-evolution-over-a-week-1?lang=us"

[2020-03-26 01:07] bganglia opened #58 "https://radiopaedia.org/cases/covid-19-pneumonia-24?lang=us"

[2020-03-26 13:47] AdarshPan commented on #5
A lot of the papers and Websites are saying that Chest CT is the most preffered way of detecting the virus........as data scientists we have to do whatever possible to help the community.....does anyone knows about the site where wen can get a Chest CT of The COVID

[2020-03-26 17:31] ncovgt2020 opened #59 "5 South Korea papers still not included in metadata"
- Published online March 5, 2020. https://doi.org/10.3348/kjr.2020.0146
https://kjronline.org/Synapse/Data/PDFData/0068KJR/kjr-21-505.pdf

- Published online March 20, 2020. https://doi.org/10.3348/kjr.2020.0195
https://kjronline.org/Synapse/Data/PDFData/0068KJR/kjr-21-e45.pdf

- Published online March 20, 2020. https://doi.org/10.3348/kjr.2020.0180
https://kjronline.org/Synapse/Data/PDFData/0068K

[2020-03-26 18:00] Goodsea commented on #5
We should take a step for the pandemic, you are definitely right.

[2020-03-26 19:06] DLinRadiology opened #60 "CT segmentation data"
Hi, you might be interested in this 100 CT slice dataset of 60 patients that we have segmented:

http://medicalsegmentation.com/covid19/

Feel free to add to your list if you find it relevant.

[2020-03-26 19:11] elcronos commented on #60
@DLinRadiology Great contribution ! Thanks

[2020-03-27 01:07] ieee8023 opened #61 "https://app.figure1.com/images/5e7c1b8d98c29ab001275405/"

[2020-03-27 06:07] JiayuanDing100 opened #62 "More Clinical note about other patients with SARS or ARDS or pneumonia"
Anyone knows where we could find more clinical note about SARS or ARDS or pneumonia patients? I want to do some research on covid-19 classification based clinical note.
In current metadata, there are 92 covid-19 instances compared to 14 none covid-19 instances.
Really appreciate it if anyone could provide more useful info

[2020-03-27 11:07] ffkharbat commented on #60
Thanks a lot.
Can we get the original JPG if they are available?
I am not familiar with using the nii images, my bad!

[2020-03-27 12:36] DLinRadiology commented on #60
The problem is that segmentations were done on the nifti file and it would be a real hassle to convert segmentations back to their original size. The CT images without annotations don't have much value in my opinion and they are not normalized to Hounsfield. Do you still want them?

If you will be working with volumetric medical images (CT or MRI), nifti is a very common file format that you shoul

[2020-03-27 12:57] ffkharbat commented on #60
Thanks again for your response and clarification
I am looking into the nifti so that I can use them. Appreciate your help. If you recommend any tutorial for using the filetype into machine learning please let me know. Of course, the site should be cited properly (Y)

[2020-03-27 14:35] ncovgt2020 opened #63 "Papers containing CT and Xray that are not in metadata.csv"
- Published Online:Feb 13 2020
https://doi.org/10.1148/radiol.2020200370

- Published Online:Feb 20 2020
https://doi.org/10.1148/radiol.2020200463

- Published Online:Feb 12 2020
https://doi.org/10.1148/ryct.2020200026

- Published Online:Feb 13 2020
https://doi.org/10.1148/ryct.2020200025

- Published Online:Feb 14 2020
https://doi.org/10.1148/ryct.2020200031

- Published Online:Feb 14 2020
https

[2020-03-27 14:48] DLinRadiology commented on #60
People usually use Python for machine/deep learning. In python, the most common library for reading nifti files is [nibabel](https://nipy.org/nibabel/). The usual way to use it is for example:

import nibabel as nib
image_volume = nib.load("./tr_im.nii.gz")
image_volume_voxel_data = image_volume.get_fdata()

Same for mask data. Then you can do whatever as you have the data loaded into an array.

[2020-03-27 14:55] ieee8023 commented on #62
Check out https://radiopaedia.org/ for other cases. If you can, add the cases you find to this database as well!

[2020-03-27 14:55] #62 closed

[2020-03-27 15:00] ieee8023 opened #64 "Cases from College of Radiologists, Singapore."
https://www.ams.edu.sg/view-pdf.aspx?file=media%5c5275_fi_58.pdf&ofile=1.+CXR+%26+CT+Thorax+images+of+COVID-19+from+Singapore.pdf

[2020-03-27 15:01] ieee8023 opened #65 "https://cases.rsna.org/coronavirus"

[2020-03-29 16:20] #64 closed

[2020-03-29 16:30] #58 closed

[2020-03-29 16:37] #57 closed

[2020-03-29 16:38] #56 closed

[2020-03-29 16:38] #52 closed

[2020-03-29 16:38] #55 closed

[2020-03-29 16:38] #54 closed

[2020-03-29 16:38] #53 closed

[2020-03-29 16:40] ieee8023 commented on #50
Yes, these are being added! Thanks!

[2020-03-29 16:40] #50 closed

[2020-03-29 19:10] bganglia commented on #59
@ncovgt2020 Thank you so much.

@ieee8023 I can work on adding these

[2020-03-29 19:15] ieee8023 commented on #59
@bganglia Ok, I won't commit anything until you push something.

[2020-03-29 21:27] bganglia commented on #59
@ieee8023 Actually it looks like these are all CTs.

[2020-03-30 12:00] SandeepAswathnarayana commented on #5
UPDATE:
FDA grants emergency use authorization for the fastest available (as of March 28) molecular point-of-care test for COVID-19: [Abbott Laboratories](https://abbott.mediaroom.com/2020-03-27-Abbott-Launches-Molecular-Point-of-Care-Test-to-Detect-Novel-Coronavirus-in-as-Little-as-Five-Minutes)

[2020-03-30 12:15] atbenmurray commented on #5
I guess there are a few aspects to 'why xray over chest ct'. We got briefed on this a few days back when we started looking into building deep learning pipelines, and I took the following conclusions from it:
1. **Throughput**: You can x-ray a patient with a very rapid turnaround and little or no decontamination between patients. CT would need a decontamination between every patient. One figure we

[2020-03-30 14:53] aparnapanicker opened #68 "Does the folder `image` only consist of Chest X-Rays of patients diagnosed with COVID-19?"
Hi @ieee8023 ,

May I know whether all images present in the folder `images` contains only the X-Ray image of patients  diagnosed with `COVID-19` ?  Or is it the mix of Chest X-Rays of patients diagnosed with COVID-19, MERS, SARS, and ARDS. Also , If the image  folder have mix of all the chest X-Rays of patients diagnosed with COVID-19, MERS, SARS, and ARDS, May I know how to fetch only the image

[2020-03-30 14:57] ieee8023 commented on #5
I think focusing on making prognostic instead of diagnostic predictions makes more sense in terms of the need now.

[2020-03-30 14:58] ieee8023 commented on #68
The metadata file contains the findings information you are looking for.

[2020-03-30 15:03] aparnapanicker commented on #68
Hi @ieee8023 ,

May I know whether there are any ethical issues associated with using this data set as part of my project?

[2020-03-30 15:10] ieee8023 commented on #68
The data is composed from public sources. Check with your ethics board.

[2020-03-30 15:10] #68 closed

[2020-03-30 15:12] ieee8023 opened #69 "https://mobile.twitter.com/ChestImaging/status/1243928581983670272"

[2020-03-30 15:46] SandeepAswathnarayana commented on #5
@ieee8023 You're right. This is where the domain expertise, clinical trials in fields like Genetics, Virology, etc. add substantial value.

While we are aware of why the [antibody tests matter](https://www.sciencenews.org/article/covid-19-coronavirus-pandemic-how-antibody-blood-tests-work), it's also important to address the 'value' researchers are adding to help [eliminate theories](https://www.s

[2020-03-30 18:03] ieee8023 commented on #69
I asked the account for license information. (https://mobile.twitter.com/josephpaulcohen/status/1244669496960442371)

Let's hold off on adding them until it is clear they are meant to be public. The account doesn't list a doctor's name so I am suspicious.

[2020-03-30 21:28] ines321 commented on #51
how download all images

[2020-03-31 03:31] bganglia commented on #51
@ines321 They are in the "images" folder, but you may prefer to use the dataloader at https://github.com/mlmed/torchxrayvision

[2020-04-01 05:44] ncovgt2020 commented on #59
Hi guys,

[2020-04-01 08:06] ncovgt2020 opened #70 "South Korea papers still not in metadata.csv"
- Lei P, Mao J, Huang Z, Liu G, Wang P, Song W.   Key Considerations for Radiologists When Diagnosing the Novel Coronavirus Disease (COVID-19).   Korean J Radiol. 2020 Jan;21:e44.   https://doi.org/10.3348/kjr.2020.0190

- Yoon SH, Lee KH, Kim JY, Lee YK, Ko H, Kim KH, Park CM, Kim YH.   Chest Radiographic and CT Findings of the 2019 Novel Coronavirus Disease (COVID-19): Analysis of Nine Patients

[2020-04-03 15:22] ieee8023 commented on #61
Added

[2020-04-03 15:22] #61 closed

[2020-04-03 16:32] pkienzle commented on #28
Not a recommendation, but here are some links to datasets that I found:

* NIH chest X-ray data
  - https://nihcc.app.box.com/v/ChestXray-NIHCC/file/219760887468
  - 112k images
* Kaggle copy of NIH dataset
  - https://www.kaggle.com/nih-chest-xrays/data
* Kaggle dataset for pneumonia in children
  - https://www.kaggle.com/paultimothymooney/chest-xray-pneumonia
  - 2538 bacterial, 1345 viral and 1

[2020-04-04 11:28] ncovgt2020 commented on #59
@ieee8023 is this project interested in x-ray images only? I am actively looking for papers still missing. Should I not inform of papers when those contain CT images only? Thanks.

[2020-04-04 15:09] ieee8023 commented on #59
In my work I'm only using chest X-ray images or CT volumes. The slices are not as useful for building tools IMO. But if someone is using them and extracts them I would merge the pull requests.

[2020-04-04 15:09] #59 closed

[2020-04-05 19:23] bganglia commented on #70
@ncovgt2020 Thanks!

[2020-04-05 19:24] bganglia commented on #70
It looks like the radiographs from these papers have already been added, so I will close this issue.

[2020-04-05 19:35] bganglia opened #72 "https://www.eurorad.org/advanced-search?search=COVID"
Eurorad has a very convenient collection of COVID-19 cases at the link above. These are the URLs with X-rays
- [ ] https://www.eurorad.org/case/16663
- [ ] https://www.eurorad.org/case/16660
- [ ] https://www.eurorad.org/case/16654
- [ ] https://www.eurorad.org/case/16691
- [ ] https://www.eurorad.org/case/16674
- [ ] https://www.eurorad.org/case/16672
- [ ] https://www.eurorad.org/case/16669
- [

[2020-04-05 19:49] bganglia commented on #63
@ieee8023 I can work on this

[2020-04-05 20:32] bganglia opened #73 "More Radiopaedia images 4/5/2020"
I thought that it might be more convenient to create a single issue, as @ncovgt2020 has been doing.

- [x] https://radiopaedia.org/cases/covid-19-pneumonia-8?lang=us
- [x] https://radiopaedia.org/cases/covid-19-pneumonia-20?lang=us
- [x] https://radiopaedia.org/cases/covid-19-pneumonia-22?lang=us
- [x] https://radiopaedia.org/cases/covid-19-pneumonia-34?lang=us
- [x] https://radiopaedia.org/cases/

[2020-04-05 21:52] #70 closed

[2020-04-05 22:06] ieee8023 commented on #73
Oh wow! I didn't see that I missed those! This one is already there but with a different spelling:

https://radiopaedia.org/cases/post-intubuation-pneumomediastium-and-pneumothorax-background-covid-19-pneumonia

It seems that it is an alias for patientid 142.

Also, I would skip the https://radiopaedia.org/cases/covid-19-pneumonia-paediatric one because it is a child. We should set a lower age lim

[2020-04-05 23:12] bganglia commented on #73
@ieee8023 Thanks! I will update the list. Right now I am about a third of the way through adding these and my target is to finish by tonight or tomorrow morning. The highest ID will probably be 185ish, in case you are adding anything else at the same time.

I will stay on the lookout for other sites like Eurorad.

[2020-04-06 07:57] juanmed commented on #70
Hi,

When I added these papers, I checked twice on the `metadata.csv` and my previous issues. At that moment, they were not included anywhere. How do you know they were already added?  It is just that I am looking for more papers, and if I am overseeing something I would like to know. Thanks.

[2020-04-06 07:59] ncovgt2020 commented on #70
Hi,

When I included these papers, I checked in `metadata.csv` file and my previous issues. They were not included anywhere. How do you know these have been already included? Since I am actively looking for more papers, I am probably overseeing something, and I would like to know what if that is the case. Thanks.

[2020-04-06 08:54] jscheithe commented on #48
The project I'm working on at the moment will be deployed at hospitals, so I can only really use DICOMs for development.

That said, thank you so much for adding the first volumetric data!
How did you get them out of radiopaedia?
Any chance to get DICOMs instead of NIfTI?

Let me know if I can help. Thanks!

[2020-04-06 09:55] bganglia commented on #70
@ncovgt2020 I have been checking by seeing if the DOI is in the file. Also, right now we are mainly focusing on adding X-rays, so we may not add papers with just CTs.

Thank you for your work. The radiographs just sitting in papers are the hardest to find

[2020-04-06 09:59] ncovgt2020 commented on #70
Thank you for your answer. I will not be reporting papers with CT only in future issues. Regards!

[2020-04-06 10:59] bganglia commented on #63
@ncovgt2020 Thanks! I will be making a PR with some of these papers shortly

[2020-04-06 11:12] bganglia commented on #73
I didn't end up getting through all of these, so I will have to make another PR later today or tomorrow.

[2020-04-06 15:43] #63 closed

[2020-04-06 19:16] ieee8023 opened #76 "Where to find normal CT volumes"
Although the ideal non-COVID examples would be those suspected of COVID but do not test positive for it like with other types of pneumonia. But in any case here are some other datasets:

Lung CT Segmentation Challenge 2017 (LCTSC)
60 patients
https://academictorrents.com/details/0a3611528c9172383656cb1b6a07cfb7f095eb82

LNDb CT scan dataset (training)
They have lesions though. 294 scans.
https://a

[2020-04-07 16:00] dazai02 opened #78 "Images folder"
In the images folder, are there only x-rays of covid or are there other diseases? Sorry for the inconvenience

[2020-04-07 16:08] ieee8023 commented on #78
Please refer to the metadata file for detailed information about each image.

[2020-04-07 16:08] #78 closed

[2020-04-09 09:28] bfreskura commented on #26
Is it possible to mark such images in the `metadata.csv`?

[2020-04-09 17:30] hitesh-hk commented on #73
Have you added those images @ieee8023  which were uploaded by @bganglia ?

[2020-04-09 17:41] bganglia commented on #73
@hitesh-hk I am preparing the PR for those images right now. There was an encoding issue with the file, so I am fixing that right now. Then I will make the PR

[2020-04-09 18:07] hitesh-hk commented on #73
Sure I will wait for sometime @bganglia. Please comment here once you are done with PR. Thanks for the quick reply.

[2020-04-09 18:16] bganglia commented on #73
@hitesh-hk These images have now all been merged.

[2020-04-09 18:40] hitesh-hk commented on #73
Thanks @bganglia

[2020-04-09 20:53] #73 closed

[2020-04-10 11:27] Sousouam opened #81 "https://radiopaedia.org/search?utf8=%E2%9C%93&q=covid&scope=all&lang=us"
somes samples are available at this link : https://radiopaedia.org/search?utf8=%E2%9C%93&q=covid&scope=all&lang=us

[2020-04-10 17:01] ncovgt2020 opened #82 "Visually understand metadata"
Is a visualization of the metadata useful to this repository?  I made [this](https://github.com/ncovgt2020/covid_chestxray_dataset/blob/master/scripts/metadata_visualization.ipynb). Can make a pull request if you find it useful.

[2020-04-10 17:08] ncovgt2020 commented on #76
Two public chest X-ray datasets for computer-aided screening of pulmonary diseases.
Normal/Abnormal tuberculosis X-ray:
https://openi.nlm.nih.gov/faq#faq-tb-coll
The CT volumes (in DICOM format) can be obtained directly from the authors (only available for 1 of the sets).

[2020-04-10 17:40] ieee8023 commented on #82
Looks great! Please make a pull request! You can add your name at the top of the notebook as well!

[2020-04-10 18:08] ieee8023 commented on #81
Thanks, we have been adding from there. We should have most of them.

[2020-04-10 18:08] #81 closed

[2020-04-10 20:54] bganglia opened #83 "Add intubation_present column (separated from #80)"
I am separating this out from PR #80.

@ieee8023 had the idea to create an ``intubation_present`` column to record whether a tube was present in the given image.

I can work on this

[2020-04-10 21:22] #83 closed

[2020-04-11 23:10] bganglia commented on #72
Updated this issue with a list of more Eurorad cases to add

[2020-04-12 08:33] ncovgt2020 commented on #82
Made pull request #87.

[2020-04-12 08:33] #82 closed

[2020-04-12 09:00] ncovgt2020 commented on #5
@atbenmurray do you happen to have any references for the  throughput, radiation exposure and size of dataset arguments?

[2020-04-13 10:05] RichardKCollins commented on #48
The images must be in a LOSSLESS format.  Most jpeg throws away the detailed pixel level data where the information needed for precise discrimination is located.  PNG is apparently lossless, and Dicom is lossless, which is why they use it.  So I appreciate your putting the images here, but getting any real value from them of covid, that will be accepted and used, will be hard to impossible.

Also,

[2020-04-14 10:51] jscheithe commented on #76
Check out the Lung CT datasets from https://www.cancerimagingarchive.net/

TCIA is a great resource for any kind of (cancer related) medical imaging.

[2020-04-15 12:54] #72 closed

[2020-04-16 00:43] sfleisch commented on #60
Please look at the[ NIfTI Image Converter repo](https://github.com/alexlaurence/NIfTI-Image-Converter/). I found it very easy to use.

[2020-04-16 17:41] rodrigocardoso92 opened #91 "What machine is used to scan those images?"
Hello contributors, I think that the information about the machines used for digitalize those images is important, can u get these information, plz?

[2020-04-16 17:49] ieee8023 commented on #91
*you and *please. We are not texting each other.

This information is rare to find for chest X-rays. Also, it is not clear it matters. Acquisition parameters would make more sense and I don't even see this info in the DICOM headers to X-rays. It is more important for CTs.
Do you have any references saying that chest X-ray algorithms perform differently given the machine/acquisition parameters?

[2020-04-17 16:08] #91 closed

[2020-04-17 18:51] ieee8023 opened #92 "https://www.rad2share.com/corona"

[2020-04-18 07:25] bganglia commented on #92
@ieee8023 I can work on this

[2020-04-21 16:22] stu93303148 opened #94 "Error!! UTF-8 encoded Saving disable"
How to fix it?

<img width="1187" alt="螢幕快照 2020-04-22 上午12 23 11" src="https://user-images.githubusercontent.com/1113604/79888583-7b965300-842f-11ea-8a51-ee83c0748a86.png">

[2020-04-21 16:32] ieee8023 commented on #94
I don't think you can view those files in jupyter notebook.

[2020-04-21 16:32] #94 closed

[2020-04-22 05:33] hasibzunair commented on #76
ImageCLEFmed Tuberculosis Challenge (2019)
335 chest CT scans. Labels are CT-wise scale.
https://www.crowdai.org/challenges/imageclef-2019-tuberculosis-severity-scoring

ImageCLEFmed Tuberculosis Challenge (2020)
403 chest CT scans. Labels are on a lung-wise scale rather than CT-wise scale.
https://www.imageclef.org/2020/medical/tuberculosis/

[2020-04-23 06:23] issalig opened #95 "Images from twitter"
This article https://arxiv.org/pdf/2004.08379.pdf informs about a twitter thread with images https://twitter.com/ChestImaging/status/1243928595149488128.

[2020-04-23 06:25] issalig commented on #95
Duped :) https://github.com/ieee8023/covid-chestxray-dataset/issues/69

[2020-04-23 06:25] #95 closed

[2020-04-23 12:40] issalig opened #96 "Incorrect Image filenames in metadata.csv"
These images are missing extension in metadata.csv but exist in images with the correct extension

2-chest-filmc
RA-1
RA-2
Lorente-5
Lorente-4
Lorente-2
Lorente-3
Lorente-1

[2020-04-24 08:31] armiro commented on #37
Exactly. I asked radiologists about this high accuracy problem and they told me the same. Pediatric chests are of a different shape from normal adult/elder chests, so even basic models can detect with high accuracy.

[2020-04-24 08:34] armiro commented on #37
I collected and trained on them. Still getting high accuracies but not as high as previous RSNA images. Detected features (using Grad-CAM) are still not the ones expected to be seen (patchy opacities mostly peripheral). I think the only way is to increase the number of COVID pneumonia cases and collect normal cases from different datasets. Segmenting lobes from the images is also a good idea.

[2020-04-24 22:55] muammara opened #97 "New to AI"
I'm new to the whole CV thing..
I was trying to apply fastai library into the datastest, but before I got into the exercise I found out that the sample is very skewed toward COVID19
For example you have 278 labeled as COVID19 and another 12 labeled as COVID19 and another label, which makes it 290 samples out of 354.
I hope that we will be able to get more sample for others.

[2020-04-25 16:52] ilmimris commented on #97
Hi @muammara  you can check another dataset to get more samples for COVID19 negative or healthy.

[2020-04-25 18:58] ieee8023 commented on #97
Just don't use the pediatric X-ray pneumonia dataset as normal examples. The model will likely confound age to predict and not be useful.

[2020-04-27 16:55] phildespres commented on #48
Agree with advocate of DICOM format: please rely on establised standards! As for "DICOM format is not as easy to load in Python": https://pydicom.github.io/

[2020-04-27 17:36] ieee8023 commented on #48
If the medical community would make DICOM images public then we could have this debate. But as it stands now that is not what is being made public. This dataset is based on scraping images from publications in radiology journals which publish images in JPEG and PNG because that was the only way to get access to images. We are just being pragmatic here.

[2020-04-27 19:31] RichardKCollins commented on #48
Do you know anything about the ages and sex of the people?  Women respond differently than men, age is very important for morbidity and mortality, susceptibility and recovery.

What about the stage of the disease in these people?

Outcomes?  Died? went home? In a coma for two weeks?  Had pneumonia?  Smoker? Anything?

What about asking countries outside the US for samples?  Are you guys good at th

[2020-04-27 19:39] ieee8023 commented on #48
Thanks for the advice! Please take a look though at the metadata file to find the outcome information you are looking for.

[2020-04-27 20:50] ieee8023 commented on #96
This is fixed now.

[2020-04-27 20:50] #96 closed

[2020-04-27 21:49] RichardKCollins commented on #48
Thanks for telling me.  I just made an almost two hour video talking to the Wolfram (Mathematica) group about Covid.  I mentioned there is a group on GitHub working on medical images.  I did not commit you to anything, but I asked them to get out and help find things. Visit there and join just to hear things.  Tell them you are working on images and what you need or want.

I probably will not get

[2020-04-27 22:09] manuel-alvarez28 opened #99 "Error: OpenCv(4.1.2) in row 11"
Hi, it's Manuel Alvarez from Mexico City, I'm currently studying IT at Simon Bolivar University, I decide publish my issue I have problems with the covid code.

I'm trying to fix it but can't find the error, Import the DB and the images folder from google drive but at the moment of executing it marks this error.

[2020-04-28 08:09] jscheithe commented on #48
@RichardKCollins I realize that you're just trying to help, but please keep in mind that this repository is taken care of by people in their free time. The way you talk about the great work that is being done here can easily sound disrespectful to the creators. You are not the supervisor here.

[2020-04-28 10:27] RichardKCollins commented on #48
I was just trying to share what I have been gathering as "good ideas" and "best practices" and some "I wonder if this will work".  I apologize if I am too abrupt. I appreciate your candor, and I will tone it down.  I would rather work on images, but I spent the night doing more statistical reports and curve fitting.  I am trying to find a balance. Thanks.  Keep up the great work!!!

[2020-04-28 16:26] ieee8023 opened #100 "https://github.com/agchung/Figure1-COVID-chestxray-dataset"

[2020-04-28 19:01] GuilhermeCunha opened #101 "Is there an algorithm that identifies whether the image is a CT / X-ray?"
With obtaining CT / X-ray Datasets generated from several different places, we have faced a problem, garbage mixed with good images. I would like an algorithm / network that would help us to identify if an image is a CT / X-ray or not. Could anyone help?

[2020-04-28 20:47] ieee8023 commented on #101
It should be a simple model to build. Just resize the images to 10x10 and train a logistic regression on it. Also, just look at the resolution of the image. CT slices will be 512x512 most of the time.

[2020-05-01 08:00] issalig opened #102 "https://covid19.espacio-seram.com/index.php"
Some cases reported on the Spanish Medical Radiology Association (some are for teaching and others from around the world that maybe they are already in this dataset)

https://covid19.espacio-seram.com/index.php

[2020-05-01 17:53] arasharchor opened #103 "public contributed project: https://ternow.ai/automatic-covid-19-diagnosis"
Hi @ieee8023
This is not an issue
I saw this and I thought it would be of interest for you
https://ternow.ai/automatic-covid-19-diagnosis/

[2020-05-01 17:57] ieee8023 commented on #103
Thank you. Do you have any chest X-rays that you can contribute from that project?

[2020-05-01 17:57] #103 closed

[2020-05-01 17:58] arasharchor commented on #103
@ieee8023  not really. I just saw that I thought it would be of interest to join the forces

[2020-05-04 19:37] jannisborn opened #106 "radiologyassistant"
Lately came across this source which contains a fair amount of CXR/CT screenings from COVID patients.

https://radiologyassistant.nl/chest/lk-jg-1

Not sure about the license though. Please close if not applicable.

[2020-05-05 14:30] JunMa11 opened #108 "How to download nifty images from radiopaedia"
Dear @ieee8023 ,

Thanks for the great repo.

Could you show me how to download nifty images from radiopaedia as you did [here](https://academictorrents.com/details/136ffddd0959108becb2b3a86630bec049fcb0ff)?

Kindest regards,
Jun

[2020-05-05 14:32] ieee8023 commented on #108
The script is here: https://github.com/ieee8023/covid-chestxray-dataset/blob/master/scripts/radiopedia.ipynb

[2020-05-05 14:33] JunMa11 commented on #108
Thank you so much!

[2020-05-05 14:33] #108 closed

[2020-05-08 04:13] mwestt opened #109 "Two Lateral images misannotated view = 'PA' in metadata"
I just wanted to highlight that two images have the wrong view metadata, both being labelled as 'PA' despite being lateral. I've updated them and happy to submit a PR if desired.

`pneumocystis-jiroveci-pneumonia-4-L.png`

<img src="https://user-images.githubusercontent.com/35194086/81369360-36755080-90c0-11ea-8867-bcd7bea1fd09.JPG" width="300">

`covid-19-infection-exclusive-gastrointestinal-symp

[2020-05-08 04:15] ieee8023 commented on #109
Yes please submit a pull request!

[2020-05-08 16:43] ieee8023 commented on #109
Fixed in #110 and 10f0e4e

[2020-05-08 16:43] #109 closed

[2020-05-09 13:38] ArkanEmre opened #112 "Metadata.csv Line 306 -- 'No Finding' isn't correct"
As described in the [radiopedia case](https://radiopaedia.org/cases/covid-19-pneumonia-58?lang=us,CC), the patient was testes positive for COVID-19 on two nasopharyngeal swab tests. Therefore, the finding should be COVID-19.

[2020-05-09 17:40] ieee8023 commented on #112
The first X-ray of the patient (the only one labelled as No Finding) is a prior image used as reference so they were not positive at that time.

I did fix the "went_icu" field for this patient because they were intubated so they must have been in the ICU.

Thanks for checking these fields! We need to keep reviewing them to make sure they are all correct!

[2020-05-09 17:40] #112 closed

[2020-05-10 23:01] princyok opened #114 "A limit on length of filenames for the images"
Some of the filenames are very long (I noticed one is 85 characters long). Windows has a limit on the length of file paths and causes some headache if exceeded.

Instead of having a lot descriptive information in the filename, maybe a new field for `description` can be included in the metadata, or just use the already existing `clinical_notes` field.

[2020-05-10 23:29] ieee8023 commented on #114
The filenames act as unique IDs when trying to spot duplicates from sites so we shouldn't change them as there is no issue on Mac and Linux.

Maybe you can zip up the image folder and then use a library to read from the zip file? I would take that as a pull request to torchxrayvision if you did write it. For example https://docs.python.org/3/library/zipfile.html#zipfile.ZipFile.read

[2020-05-11 19:38] lucasxteixeira opened #115 "Article about pneumonia hierarchy"
Even though the identification of Bacterial vs Viral vs COVID-19 Pneumonia not being much clinically relevant our research group tried to explore it considering a machine learning point of view.
We explored a series of feature extractions, fusion and resampling methods and achieved a good result.
Our publication have just been accepted on Computer Methods and Programs in Biomedicine Journal (https

[2020-05-12 08:41] jscheithe commented on #60
@DLinRadiology thank you very much for uploading your annotation work! Highly appreciated.

Are you also allowed to share the full volumes, including slices that were not annotated?
We're building a volume-level classifier, so we can use any confirmed COVID cases.

[2020-05-12 15:16] ieee8023 commented on #115
Thanks for sharing!

By quickly reading over the methods section it is not clear to me how you are using the hierarchy.

I'll close this issue now as it is not an issue that needs to be resolved.

[2020-05-12 15:16] #115 closed

[2020-05-13 14:37] DLinRadiology commented on #60
Hi, unfortunately we don't have the full volumes. You can read about how we collected the data [here](https://medium.com/@hbjenssen/covid-19-radiology-data-collection-and-preparation-for-artificial-intelligence-4ecece97bb5b)

[2020-05-18 00:31] #114 closed

[2020-05-19 22:34] sbirbrower opened #120 "data from Hannover"
I don't see this included in the metadata, will it be useful?
https://github.com/ml-workgroup/covid-19-image-repository

[2020-05-19 23:39] ieee8023 commented on #120
This repo is great! Thanks!

[2020-05-20 20:28] ieee8023 commented on #120
I asked if we can merge the data into this dataset: https://github.com/ml-workgroup/covid-19-image-repository/issues/1

[2020-05-26 15:49] ieee8023 opened #124 "COVID-19 Pneumonia Severity Scores for 94 images"
Data is here: [Pneumonia severity scores for 94 images](https://github.com/ieee8023/covid-chestxray-dataset/blob/master/annotations/covid-severity-scores.csv)

**geographic_extent_mean**: The extent of lung involvement by ground glass opacity or consolidation for each lung. The total extent score ranged from 0 to 8.
**opacity_mean**: The degree of opacity. The total opacity score ranged from 0 to

[2020-06-05 16:04] platisd opened #130 "How am I allowed to use these resources?"
Hi,
You've got a great dataset here and several other resources (e.g. Python scripts) however I am not sure how to use them. This is because after looking around, I could not find any licensing information.
Considering this you obtain all copyright to this work and therefore it'd be illegal for me to use it in any meaningful way other than just browsing through it.
Furthermore, this may itself not

[2020-06-05 16:21] ieee8023 commented on #130
Thanks for pointing that out. I just added a clear statement in the README:

[2020-06-05 16:22] platisd commented on #130
Sounds good, thanks!

[2020-06-05 16:22] #130 closed

[2020-06-22 13:48] SeanKski opened #136 "Offset values are negative for some cases?"
These should be positive correct? Or is there some meaning to a patient having a negative offset?

[2020-06-22 14:41] ieee8023 commented on #136
The offset is time since admission or symptoms. So negative means from before this. Possibly they were at the hospital for something else where they had an x-ray and then caught the virus.

[2020-06-22 16:21] SeanKski commented on #136
Thank you for your response! I thought the same thing, however, there are patients with only one image that have a negative offset but still a finding of COVID-19 (e.g. patientid 232).

Does this mean that the patient was later found to have COVID-19, but this X-ray is just a scan of their lungs pre-virus?

[2020-06-22 16:38] ieee8023 commented on #136
I see patientid 232 is like that. I'll look into it more.

[2020-06-22 17:03] ieee8023 commented on #136
There was an update to the Hanover data that changed a bunch of offsets. @bganglia is working on it now to update the offsets for those images.

[2020-06-23 14:34] SeanKski commented on #136
Great! Thank you :)

[2020-06-23 14:34] #136 closed

[2020-06-27 16:35] ieee8023 opened #138 "v7labs lung segmentations"
This looks really nice. We should investigate it more and link to it or add it if everything checks out. The license is CC-BY.

https://github.com/v7labs/covid-19-xray-dataset

[2020-06-29 12:57] simedw commented on #138
Hi @ieee8023

Thanks for the kind words. We recently included png masks directly into the repo, you can find them at https://github.com/v7labs/covid-19-xray-dataset/tree/master/annotations/all-images-semantic-masks .

If you have any questions or if there is anything we can do to help with the integration of our annotations into your dataset please let me know!

[2020-06-29 15:52] #138 closed

[2020-07-08 02:16] ayaanzhaque opened #139 "How can we generate labels for these images?"
While code file allows us to get the labels for the images? For those that have labels of course.

[2020-07-08 02:49] ieee8023 commented on #139
In the readme file there is a link to the metadata.csv file which has information about each image. There is a link to a dataloader from torchxrayvison that will read the metadata file and provide a structured interface.

You may want to look at this code as an example of tasks to predict: https://github.com/mlmed/torchxrayvision/tree/master/scripts/covid-baselines

[2020-07-10 00:07] reeshmabijosh opened #140 "Metadata Update"
Hello,
Your dataset was added to CoronaWhy (https://www.coronawhy.org/) Data Lake on Dataverse as a piece of common COVID-19 data https://datasets.coronawhy.org/dataset.xhtml?persistentId=doi:10.5072/FK2/ACQJYE
Would you be willing to help with the maintenance of your dataset in Dataverse, e.g. adding the relevant metadata and keeping the dataset up-to-date? That will help to make the dataset find

[2020-07-10 00:48] ieee8023 commented on #140
Thanks for spreading the word about this dataset.

I don't see how Dataverse is better than this repository. Can you explain more? I think being indexed there will allow people to follow links to get to this repository. Managing the dataset is super easy on GitHub.

[2020-07-10 00:48] #140 closed

[2020-07-13 04:22] ammarchalifah commented on #28
Hi Oplatek and Pkienzle, thank you so much for the question and the answer! Currently I'm trying to train a covid chest x-ray detection model. I have trained the classifier with Kaggle dataset. Now I want to train the classifier using covid, pneumonia, and normal data. I think I want to use covid data from this repository, but I'm having difficulty to find normal data. Are there any reference or s

[2020-07-13 05:51] ieee8023 commented on #28
Please check out this paper for a transfer learning approach and tasks to work on (and the clinical workflows that could benefit from tools): http://arxiv.org/abs/2006.11988

Also check out this library for dataloaders for over 7 different datasets: https://github.com/mlmed/torchxrayvision

[2020-07-18 13:35] #139 closed

[2020-07-28 17:13] gondimjoaom opened #149 "Reason for some removed images"
Hi! First, thanks for the dataset preparation. I had cloned this repo back in April an just downloaded more images yesterday and realized that some images (about 75) from April's "image" folder where removed. I'm note complaining, but I would like to know if there ir a general reason for such.

[2020-07-28 17:30] ieee8023 commented on #149
We are constantly doing quality control on the data. Those images were likely of bad quality. We also add images marked as "todo" in the finding column of the metadata file (so they are not "added" to the dataset yet) and then we review them and may remove them.

[2020-07-28 23:23] gondimjoaom commented on #149
Thanks for such fast response!!

[2020-07-28 23:23] #149 closed

[2020-08-03 13:30] ekdnam opened #152 "(perhaps) missing data"
I am trying to create a custom data-loader for this dataset. While looping through the metadata.csv file, I found that the following zip files cannot be found in the 'images' directory.

<img width="358" alt="missing-files-covidchexray" src="https://user-images.githubusercontent.com/40426312/89187774-59c67380-d5bb-11ea-8584-7efffcc2bc30.png">

Where can these files be found?

[2020-08-03 14:32] ieee8023 commented on #152
Those are CT volumes You should also filter for modality. You only want "X-ray". Also there is a "folder" column too that you can filter for "images".

[2020-08-11 20:31] #120 closed

[2020-08-17 23:23] calebrob6 opened #159 "Label co-occurrence warning"
This dataset is set up in a multi-label way, however most labels co-occur. The below table shows counts of unique label combinations over the 514 images in the AP and PA views. You can see, for example, that "Pneumonia" occurs in every row that has a label and is not labeled as "No Finding" (and furthermore, the second most common configuration is no label).

[code]

The README shows aggregate lab

[2020-08-19 15:26] ieee8023 commented on #159
The labels are designed to be hierarchy. This is shown in the table 1 from the paper:

<img width="400" alt="Screen Shot 2020-08-17 at 7 31 03 PM" src="https://user-images.githubusercontent.com/446367/90454072-32de6600-e0c0-11ea-89c9-bc3862fb3182.png">

So they are supposed to co-occur because Pneumocystis is a Fungal Pneumonia.

There shouldn't be any ones missing a finding. There are ones labell

[2020-08-29 04:05] ekdnam commented on #152
Okay thanks a lot

[2020-08-29 04:05] #152 closed

[2020-09-27 03:27] #47 closed

[2020-10-12 12:59] AlexTS1980 opened #166 "Masks of problematic areas (ground glass opacity, ect) in chest radiography"
Are there any chest  radiography datasets with masks of COVID correlates like GGO, or at least bounding boxes. I only found one article, Weakly Labeled Data Augmentation for Deep Learning: A Study on COVID-19 Detection in Chest X-Rays, but no links to datasets. I found quite a few for CT scans, but I need for chest x-rays too.

[2020-10-12 14:43] ieee8023 commented on #166
Check out the last two annotations listed here: https://github.com/ieee8023/covid-chestxray-dataset#annotations I believe they have more than just lung annotations.

[2020-10-24 14:54] aniketmaurya opened #167 "Covid dataset label help"
In Covid dataloader, `d_covid19[idx]['lab']` is an array of length 25.
Is covid label at location 3, i.e. `d_covid19[idx]['lab'][3]`?

[2020-10-24 15:04] ieee8023 commented on #167
The lab array is aligned with dataset.pathologies which varies between datasets.

Take a look at: https://github.com/mlmed/torchxrayvision/blob/master/scripts/xray_datasets.ipynb
At the bottom xrv.datasets.relabel_dataset is used to align the pathologies and labels across all the datasets.

[2020-10-24 15:47] aniketmaurya commented on #167
so after doing this my lab array will only contain label for covid-19 positive or negative, where positive means 1?
[code]

[2020-10-24 16:14] ieee8023 commented on #167
Yes exactly.

I urge you to read over the other tasks discussed in this paper which may be more relevant to helping physicians manage patients. Detecting COVID-19 is not that useful. https://arxiv.org/abs/2006.11988

[2020-10-24 16:14] #167 closed

[2020-10-24 17:13] aniketmaurya commented on #167
sure! thanks a lot for the quick response

[2020-10-25 19:08] Kosta404 opened #168 "Diagnostic literature"
Hello! Can you please tell where did you pick literature on X-RAY images? I mean what parts of X-RAY point at some diagnosis. Thank you!

[2020-10-25 20:02] ieee8023 commented on #168
I would start with a textbook or a course. Here are some:

https://ocw.mit.edu/courses/nuclear-engineering/22-058-principles-of-medical-imaging-fall-2002/

https://www.coursera.org/learn/trunk-anatomy

[2020-11-05 08:50] ines321 commented on #51
Why we must choose only "PA" view like mentionned in metadata.csv ?

[2020-11-05 08:56] ines321 opened #169 "What does "PA" and "AP" view ?"
In script of selecting of COVID-19 patients, they mentionnaed that we must select only "AP" view,
So I would like to know what does this men "AP" and "PA" and if I choose both , is that a problem ?

[2020-11-05 09:08] ines321 opened #170 "Is there any problem in choosing all views available of X-rays ?"
In script of selecting of COVID-19 patients, they mentionnaed that we must select only "AP" view,
Why not choosing "Posteroanterior (PA), Anteroposterior (AP), AP Supine (APS), or Lateral (L) for X-rays ? Is there any problem if choosing all available views of X-rays ?
Please Help urgent !!!

[2020-11-05 09:28] imanpalsingh opened #171 "Using different dataset for negative class"
## Goal
I'm trying to train a classifier to label an X-ray covid-19 positive or negative.

## What I have tried
1. Used an architecture as defined in this [research](https://www.nature.com/articles/s41598-019-42557-4)
![Screenshot (49)](https://user-images.githubusercontent.com/49276301/98222252-974dea80-1f76-11eb-9f6a-3c585eb394ca.png)

1. Used X ray images with views AP, PA and AP Supine views
2

[2020-11-05 09:31] ines321 commented on #42
In metadata, the view label of X-ray images was "AP", "PA",.. can we take all views for training ?

[2020-11-05 13:52] ieee8023 commented on #169
Maybe this tutorial on chest X-ray imaging will help:
https://m.youtube.com/watch?v=_YN-V4p9GkY&list=PLheiZMDg_8ufxEx9cNVcOYXsT3BppJP4b&index=2

[2020-11-05 14:00] ieee8023 commented on #171
Uaing that kaggle dataset is as a negative example dataset is very bad because all the images are of children while this dataset is mostly adults so your model will likely learn to predict age and not the pathology.
I would check out the RSNA Pneumonia challenge dataset.
There are two papers linked at the top of the repo that are related to this issue.
I also suggest you read our paper about this

[2020-11-05 14:00] #171 closed

[2020-11-09 12:06] qati opened #172 "Image source metadata"
hello

how can one access metadata about where the xray is coming from?

[2020-11-09 12:29] ieee8023 commented on #172
In the metadata.csv file?

[2020-11-09 12:29] #172 closed

[2020-11-11 17:34] Edo2610 opened #173 "No finiding meaning!?"
Whats does 'No finding' mean?
Does it mean that no types of pneumonia are finding in that image or that or that those images have not been analyzed?

[2020-11-11 17:36] Edo2610 opened #174 "Pubblication to add"
Have all issues annotated as 'Pubblication to add' been added to this github repository?

[2020-11-11 20:00] ieee8023 commented on #173
That means they are healthy. todo means they are not processed yet.

[2020-11-11 20:00] #173 closed

[2020-11-11 21:04] ieee8023 commented on #174
I think many of the open ones are ones that we decided not to add because of quality or ethics approval issues. It would be best to search for new papers published in the last 2 months,

[2020-12-05 14:31] AlexTS1980 commented on #166
Thanks. I'm building a model that can generalize to arbitrary datasets. Do you know any CT/xray masks for non-COVID pneumonia cases?

[2020-12-05 15:32] ieee8023 commented on #166
Here are masks for the RSNA pneumonia dataset: https://github.com/mlmed/torchxrayvision/blob/master/scripts/xray_masks.ipynb

[2020-12-05 16:44] AlexTS1980 commented on #166
Awsm thanks!

[2020-12-05 17:30] ieee8023 commented on #166
If you find anymore mask datasets please share!

[2020-12-06 11:42] AlexTS1980 commented on #166
RSNA are more like bounding boxes than masks, but it's probably the best there is. The only x-ray lesion masks I found are these: https://github.com/GeneralBlockchain/covid-19-chest-xray-segmentations-dataset

[2020-12-06 11:44] AlexTS1980 commented on #166
I found a very good chest ct scan dataset that I used for my models (https://github.com/AlexTS1980/COVID-Single-Shot-Model) here: http://ncov-ai.big.ac.cn/download. It's 750 slices + pixel masks (lungs, GGO, C).

This dataset will hopefully be released soon: https://daa63e84b26d.ngrok.io/

[2021-01-10 15:13] ankamdeepika commented on #39
can you please elaborate as in how to use the data loader?

[2021-01-10 15:18] ieee8023 commented on #39
You can use this as an example: https://github.com/ieee8023/covid-chestxray-dataset/blob/master/scripts/test_dataloader.py

[2021-01-10 15:47] ankamdeepika commented on #39
its throwing this error
ParserError: Error tokenizing data. C error: Expected 1 fields in line 71, saw 2

[2021-01-10 16:02] ieee8023 commented on #39
I just created an example here: https://colab.research.google.com/drive/1A-gIZ6Xp-eh2b4CGS6BHH7-OgZtyjeP2

[2021-01-10 16:07] ankamdeepika commented on #39
@ieee8023 Thank you so much

[2021-01-29 23:33] #37 closed

[2021-02-16 18:01] Qing21 commented on #15
@rcillavicomtech Thank you for your great work! When I used the covid dataset the same way as yours, I encountered an assertion error:

  File "/Users/Documents/ProgramData/Pycharm/EfficientNet-PyTorch-master/COVID-Test.py", line 222, in <module>
    train(model, train_dataloader, optimizer, criterion)
  File "/Users/Documents/ProgramData/Pycharm/EfficientNet-PyTorch-master/COVID-Test.py", line 53

[2021-03-11 12:16] darshananimus opened #176 "requesting for guidance to setup this project and checkout demo on local machine"
it would be really helpful if u make a video on how to setup your project on local machine since it is very much confusing to understand regarding the dataset so i request u to pls upload a video to setup this project

[2021-03-11 12:19] shahharoon commented on #176
Please

On Thu, 11 Mar 2021 at 5:17 PM, darshananimus ***@***.***>
wrote:

[2021-03-15 19:02] Anytram opened #177 "Data preprocessing"
Hi,
I have a question about data preprocessing in your paper. Is all data from DataLoader resized to the same size?
Did you use some feature extraction before training neural network?

[2021-03-15 19:06] ieee8023 commented on #177
Yes.

In all the papers we should have mentioned what features were used next to the results. Do you have a specific table in a paper you want to know about?

The code for the baseline experiments is here: https://github.com/mlmed/covid-baselines

[2021-03-21 21:01] BernardMarieOnzo opened #178 "any update on images ?"
thanks for this work.
In general the number of patients is increasing but it seems that the image folder is not up to date or i'm missing a process

[2021-03-21 21:06] ieee8023 commented on #178
The mapping is verified with this script: https://github.com/ieee8023/covid-chestxray-dataset/blob/master/tests/test_dataloader.py

So every entry with a finding that is not "todo" and has a modality of "X-ray" will have an image associated with it. Is there an example where something is missing?

[2021-03-22 13:42] manhhung99 opened #179 "how to I can run this code"
I run browse_page_from_cache.py and then I have a problem with code: AttributeError: type object 'MHTMLCache' has no attribute 'source'.
Can you help me fix this?
Thank you very much!

[2021-03-22 23:14] bganglia commented on #179
If you want to use the dataset itself, you should use xrv.datasets.COVID19_Dataset() from the [torchxrayvision](https://github.com/mlmed/torchxrayvision) library.

The scripts you are looking at are used for adding more data to the dataset. [combined_interface.py](https://github.com/ieee8023/covid-chestxray-dataset/blob/master/scripts/combined_interface.py) is the main one, and it scrapes data fro

[2021-03-23 04:30] manhhung99 commented on #179
As you say, I have to run combined_interface.py file, then  I will run  browse_page_from_cache.py file. And it request that: "combined_interface.py: error: the following arguments are required: search, newimg, newcsv, csv, max_results, results_from, handle_failure". I don't know how to fix this. Can you help me? Thank you!

[2021-03-23 14:44] bganglia commented on #179
Ok, following the example in [combined_interface.py](https://github.com/ieee8023/covid-chestxray-dataset/blob/78543292f8b01d5e0ed1d0e15dce71949f0657bb/scripts/combined_interface.py#L27), it should work if you run this command in the scripts directory:
[code]

Just replace "search terms" with some terms describing the type of radiographs you are looking for, such as "COVID" or "pneumonia". You can

[2021-04-26 04:13] luyao77 opened #180 "Having trouble in downloading the volumes folder"
Hey:
I tried the download that shown on the website is to use the BitTorrent. However, The BitTorrent doesn't give me any reactions after I upload the file to it. Have anyone meets the problem? Please help me with it.

[2021-04-26 14:36] ieee8023 commented on #180
I don't understand  what the issue is. Can you post a screenshot or some logs? Try to use the Transmission client https://transmissionbt.com/

[2021-05-19 19:28] NickCube commented on #97
@ilmimris Hi! I am new to git hub and I am looking for samples with COVID-19 and healthy. I am not able to see where the labels are. Could you please guide me through this?

[2021-05-19 19:32] ieee8023 commented on #97
Start by reading this paper: https://arxiv.org/abs/2006.11988

Then go over this notebook to load data: https://colab.research.google.com/drive/1A-gIZ6Xp-eh2b4CGS6BHH7-OgZtyjeP2

[2021-05-19 19:46] NickCube commented on #97
Thank you so much! I'm doing a research project!

[2021-05-19 19:54] NickCube commented on #97
@ieee8023 I have never use the google colab thing, how does it work

[2021-05-19 19:57] ieee8023 commented on #97
There should be many youtube videos about how to use it.

[2021-05-19 19:58] NickCube commented on #97
Okay! Im also using machine learning for kids. But which files are only covid patients @ieee8023

[2021-06-09 10:52] Y-T-G opened #181 "Other sources of COVID-19 X-Ray images with survival label"
Are there any other sources other than this from where one can obtain COVID-19 X-Ray images which also provides a metadata containing the survival label?

[2021-08-15 12:41] ameyachawlaggsipu opened #182 "Can I use this dataset for research purposes?"
Respected Sir/Madam
I am pre final year student and for my major paper I was researching on COVID 19 and I found this dataset very helpful.
I want to take official permission from your organization to use this dataset.

Regards
Ameya Chawla

[2021-08-15 12:59] ieee8023 commented on #182
The license is discussed here: https://github.com/ieee8023/covid-chestxray-dataset#license

Also, please read this paper: http://arxiv.org/abs/2006.11988

[2021-11-10 15:44] sona-das opened #184 "can i get the data sheet"
I am also doing the same project can I get the datasheet for doing the project it will be very hepfull

[2022-02-12 12:39] HimaniTokas opened #185 "Variants of Covid-19"
I am doing a research project for various variants. Could you let me know these images belongs to which variant of novel coronavirus or any other source where I can find variant-wise XRay or CT images?

[2022-02-12 21:28] ieee8023 commented on #185
We don't have the variants annotated. You could use the dates to try to see if there is a phenotype change but all the images come from the start if the pandemic. Also check out https://nextstrain.org/ncov/gisaid/global for variant info, maybe the citations lead to papers which have associated image data.

[2022-05-11 02:17] louisfacun opened #186 "What is the exact number of the dataset?"
..

[2022-05-22 15:04] #186 closed, assigned to nobody